@import "tailwindcss";
@plugin "./hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafafa;
  --foreground: #101010;
  --font-inter: "Inter", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-dm-mono);
  --font-heading: var(--font-dm-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: 14px;
}

html, button, input, select, textarea {
  font-weight: 450;
}

code, pre, kbd {
  font-family: var(--font-dm-mono);
}
